# azure-pipelines/pipelines/apps-pr.yml
# Full pipeline template for PR validation
parameters:
- name: apps
  type: object
  default: []
- name: runTests
  type: boolean
  default: true
- name: poolImage
  type: string
  default: 'ubuntu-latest'
- name: poolName
  type: string
  default: ''
- name: imageTag
  type: string
  default: 'pr-$(Build.BuildId)'
- name: containerRegistry
  type: string
  default: '$(containerRegistry)'
- name: serviceConnection
  type: string
  default: '$(serviceConnection)'

stages:
- template: ../templates/stages/pr.yml
  parameters:
    apps: ${{ parameters.apps }}
    runTests: ${{ parameters.runTests }}
    poolImage: ${{ parameters.poolImage }}
    poolName: ${{ parameters.poolName }}
    imageTag: ${{ parameters.imageTag }}
    containerRegistry: ${{ parameters.containerRegistry }}
    serviceConnection: ${{ parameters.serviceConnection }}
